*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(133, 127, 127);
}

.container{
    background: goldenrod;
    width: 50vw;
    height: 30vh;
   text-align: center;
   font-size: medium;
   font-weight: 300;
}


.page-1{
    display: none;
}

.page-2{
    display: none;
}

.page-3{
    display: none;
}

.page-1.show{
    display: flex;
    flex-direction: column;
}

.page-2.show{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    margin-bottom: 1rem;
}

.page-3.show{
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}

