body{
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: rgb(24, 23, 23);
}
.container{
  height: 50vh;
  width: 40rem;
  background: rgb(179, 174, 174);
}

h1{
  margin-bottom: 1rem;
}

.main{
  margin-bottom: 1rem;
}

select{
  margin-right: 1rem;
  outline: none;
  border-radius: .8rem;
  width: 5rem;
  height: 2rem;
  padding: .25rem;
  font-size: medium;
}

input{
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
  width: 10rem;
  height: 2rem;
  padding: .25rem;
  font-size: medium;
}

#swap{
  margin: 1rem 0rem;
  outline: none;
  border-radius: 1rem;
  width: 5rem;
  height: 2rem;
  font-size: medium;
}