*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background: skyblue;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.head{
    height: 5rem;
    width: 10rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
}

.posts{
    height: 80%;

}

.post_content{
    margin-top: 5rem;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
}


.loader {
    display: none;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #db3434; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  .loader.show{
    display: flex;

  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



